body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(certificate_background2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(250, 245, 245, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.container p {
    font-size: 1.2rem;
    color: #555;
}

.container a {
    color: #764ba2;
    text-decoration: none;
    font-weight: bold;
}

.container a:hover {
    text-decoration: underline;
}